ul{
    padding: 0;
}
li{
    list-style: none;
}

body{
    background: #bdc3c7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
img{
    width: 50%;
}

.HomePage i.far.fa-user-circle.fa-10x{
    color: #DD3123;
}
.HomePage .container{
    text-align: left;
    color: white;
    padding:  0 10px;
}
.HomePage h2{
    font-size: 2em;
    text-decoration: underline;
    color: #DD3123;
}
.HomePage h3{
    padding: 30px 0 26px 0;
    margin: 0;
    font-size:1.8em;
}
.HomePage h5{
    margin: 0;
    font-size:1.2em;
}
.HomePage ul{
    padding: 0;
}
.HomePage ul li{
    padding: 5px;
    display: inline-block;
}
.WorkoutPage ul{
    padding: 10px;
    margin: 10px;
    border: 2px solid #535A6D;
    border-radius: 15px;
    background-color: #9198AA;
}
.WorkoutPage li{
    background: #fbfbfb;
    border: 1px solid #d6d7d7;
    border-bottom-width: 0px;
    display: block;
    padding: 10px 20px;
    position: relative;
    text-align: left;
}
.WorkoutPage input{
    display: block;
}
.WorkoutPage button{
    display: inherit;
}
.WorkoutPage li:hover{
    border: 1px solid red;
}
.WorkoutPage i.far.fa-check-circle{
    float: right;
}

.CoachPage input{
    background: gray;
}
.CoachPage textarea:focus,
input:focus {
  outline: 0;
}

